  @font-face {
    font-family: Bodoni96;
    src: url(https://res.cloudinary.com/dbrrwlzjo/raw/upload/v1599219865/Portfolio/Bodoni-96-Book_the0xr.otf);
  }

body{
   margin: auto;
   overflow-x: hidden;
   background-color:  #FBF5F3;
}

.gridContainer{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    grid-template-columns: 8(auto-fit, minmax(100px, auto));
}

.header{
position: fixed;
z-index: 100;
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 1;
grid-row-end: 2;
background-color: rgba(112, 174, 166, 0.5);
display: flex;
width: 100vw;
justify-content: center;
padding-top: 1.5rem;
padding-bottom: 1rem;
}

nav { 
font-size:1.5rem;
font-weight: 500;
font-family: 'Spartan', sans-serif;
}

.header:hover{
  background-color: rgba(112, 174, 166, 0.6);
}

nav a{
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color:#313837;
    text-transform: uppercase;
    text-align: center;
}
nav a:hover,:focus{
  text-decoration: underline;
}

.myName {
grid-column-start: 1;
grid-column-end: 7;
grid-row-start: 1;
background-color: #70AEA6;
color: #FBF5F3;
text-transform: uppercase;
line-height: 1.5;
height: 100vh;
display: flex;
justify-content: start;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
padding-left:7.5rem;
}

.aboutHeading{
    font-family: Bodoni96;
    font-size:max(8rem, 10vw);
    font-weight: 200;
    line-height: 1;
}



.aboutSubHeading{
    margin-top: -3rem;
    font-family: 'Spartan', sans-serif;
    font-size:max(3rem, 3vw);
    line-height: 1;
}

#about{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 3;
max-width: 1000px;
display: flex;
flex-flow: row;
flex-wrap: wrap;
height: 100vh;
justify-content: start;
align-items: center;
padding-left: 3rem;
padding-right:3rem;
}

.heading{
  font-family: Bodoni96;
  font-size:4rem;
  color:#313837;
}

.text{
  font-family: 'Spartan', sans-serif;
  font-size:1.3rem;
  line-height: 2;
  font-weight: 550;
  text-align: justify;
  color:#313837;
}

.callToAction{
  line-height: 3;
}

.mailto{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: -5px;
  border: none;
  outline: none !important;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://res.cloudinary.com/dbrrwlzjo/image/upload/v1599315196/Portfolio/icons8-new-post-100_2_ge0pmt.png");
  background-size: 100%;
  align-self: center;
}

.mailto:hover{
  background-image: url("https://res.cloudinary.com/dbrrwlzjo/image/upload/v1599314651/Portfolio/icons8-new-post-100_1_stje4r.png");
}


#gallery{
grid-column-start: 3;
grid-column-end: 6;
grid-row-start: 4;
max-width: 1000px;
display: flex;
flex-flow: row;
flex-wrap: wrap;
justify-content: start;
align-items: center;
padding-left: 3rem;
padding-right:3rem;
}

.project{
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

#pic{
  z-index: 1;
  width: 100%;
}

#picText{
  z-index: 3;
  position: absolute;
  display: none;
  background:rgba(49, 56, 55, 0.8);
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 91%;
  top: 0;
  left: 0;
  color: #FBF5F3;
  font-family: 'Spartan', sans-serif;
  font-size: 1.3rem;
  line-height: 2;
  font-weight: 550;
  text-align: center;
}

#pic:hover~#picText{
  display: block;
}

/* #pic:active~#picText{
  display: block;
} */



.picLink{
  font-family: 'Spartan', sans-serif;
  color: #FBF5F3;
}


.picName{
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1;
}
